a{
    text-decoration: none !important;
}
body{
    overflow-x: hidden;
    overflow-y: hidden;
}
.friend-list{
    padding: 10px;
    /*background: #dedede;*/
    /*background: rgba(255, 248, 253, 0.91);*/
    background: none;
    width: 100%;
    /*overflow-x: scroll;*/
    /*overflow-y: scroll;*/
    height: 100%;
}
#friend-list-ul{
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.h-line{
    width: 100%;
    height: 1px;
    background: #525252;
    position: relative;
    top: 4px;
}
.friend-box{
    padding: 5px;
    /*border: 1px solid #b8b8b8;*/
    /*border-radius: 4px;*/
    /*background: #ED4D28;*/
    /*background: white;*/
    transition: 0.2s;
    cursor: pointer;

}
.friend-box:hover{
    /*box-shadow: 3px 2px 5px #cccccc;*/
    /*border: 1px solid #888888;*/
}
.friend-box:active{
    /*box-shadow: 3px 2px 5px #cccccc;*/
    /*border: 1px solid #888888;*/
}
.friend-box span{
    color: white;
    position: relative;
    top: -15px;

}
.friend-box .profile-pic i{
    color: #828282;
    font-size: 36px;
    float: left;
}
.friend-box .profile-info{
    position: relative;
    left: 10px;
}
.friend-box .profile-info .profile-name{
    color: white;
}
.friend-box .profile-info .last-seen{
    font-size: 10px;
}
.frnd-options{
    position: absolute;

}
.frnd-message{
    color: #989898;
    font-size: 18px;

}
.frnd-setting{
    color: #989898;
    font-size: 18px;
}
.frnd-online{
    color: #00a930;
    font-size: 14px;
}
