.search-box{
    position: relative;
    top: 68px;
    padding: 3px;
    padding-bottom: 5px;
}
.search-box input{
    width: 85%;
    border: none;
    background: none;
    color: white;
}
.search-box span{
    padding: 3px;
}
.search-box i{
    font-size: 18px;
    position: relative;
    color: white;
}

.friend-list-box{
    position: relative;
    top: 70px;
}

.friend-box .profile-info .profile-name{
    color: gray;
}