
body{
    /*background: rgba(248, 76, 132, 0.17);*/
    overflow-y: auto;
}





.content-bar{
    position: relative;
    top: 55px;
}

.home-profile-box{
    /*background-color: #00a930;*/
    position: relative;
    top: 10px;
}
.home-profile-box .profile-pic img{
    height: 80px;
    width: 80px;
    border: 2px solid white;
    border-radius: 50px;
}
.home-profile-box .profile-name span{
    color: white;
    font-size: 16px;
    position: relative;
    top: 5px;

}
.home-profile-box .h-line{
    position: relative;
    top: 20px;
    background: #7c7c7c;
    height: 1px;
    width: 100%;
}
.home-menus{
    position: relative;
    top: 40px;
}
.home-menus table tr td{
    font-size: 12px;
    height: 40px;
    color: #b0b0b0;
    /*color: #ffffff;*/
    cursor: pointer;
    transition: 0.2s;
}
/*.home-menus table tr td:hover{
    color: white;
}

.home-menus table tr td:active{
    color: white;
}*/

.home-menus .fa-icon{
    font-size: 15px;
}
.home-menus .mi-icon{
    font-size: 18px;
}
/*.bottom-h-line{
    position: relative;
    /!*left: 20px;*!/
    top: 100px;
    background: #7c7c7c;
    height: 1px;
    width: 100%;
}*/
.home-menus a{
    color: #b0b0b0;
    transition: 0.2s;
}



.upload-box{
    height: 42px;
}
.upload-box div {
    width: 33.3333%;
    color: white;
    font-size: 14px;
    cursor: pointer;
    transition: 0.3s;
}
.upload-box div:hover{
    background: rgba(255, 248, 253, 0.18);
}
.upload-box div:active{
    background: rgba(255, 248, 253, 0.18);
}
.upload-box i{
    position: relative;
    top: 10px;
}
.upload-box span{
    position: relative;
    top: 10px;
}

.write-text{
    position: absolute;
    height: 42px;
}
.write-text i{
    font-size: 18px;
    top: 12px;
}
.add-media{
    position: absolute;
    left: 33.33%;
    height: 42px;
}
.add-media i{
    font-size: 18px;
}
.add-file{
    position: absolute;
    right: 0px;
    height: 42px;
}
.add-file i{
    font-size: 16px;
}

#content-3{
}
/*#content-3 div{
    position: relative;
    width: 33.33%;
    top: 10px;
}*/
#content-3 div i{
    /*color: white;*/
}

#content-3 i{
    cursor: pointer;
}
#content-3 .menu1{
    float: left;
    position: relative;
    width: 33.33%;
    top: 8px;
    color: white;
}
#content-3 .menu2{
    float: left;
    position: relative;
    width: 33.33%;
    top: 8px;
    color: white;

}
#content-3 .menu2 i{
    font-size: 22px;

}
#content-3 .menu3{
    float: right;
    position: relative;
    width: 33.33%;
    top: 10px;
    color: white;

}
#content-3 .menu3 .fa-folder-open{
    font-size: 18px;
}

#content-3 #content-3-content{
    width: 100%;
    /*border: 1px solid #959595;*/
    position: relative;
    top: 22px;
    /*left: -20px;*/
    overflow-y: auto;
    overflow-x: hidden;
}



















.search-chat-frnd{

}
.search-chat-frnd i{
    position: relative;
    top: 10px;
    font-size: 18px;
    color: white;
    float: right;
    cursor: pointer;
}
.search-chat-frnd input{
    position: relative;
    top: 10px;
    width: 85%;
    border: none;
    background: none;
    color: white;
    /*border-bottom: 1px solid white;*/
    display: none;
    padding-left: 10px;
}
