.text-format-box{
    /*background-color: #f0f0f0;*/
    height: 200px;
    padding-bottom: 10px;
}
.text-format-options{
    position: relative;
    height: 30px;
    width: 100%;
    background-color: #e4e4e4;
}
.text-format-options .fa-icons{
    position: relative;
    top: 8px;
    color: #939393;
    cursor: pointer;
}
.text-format-options .fa-icons:hover{
    color: #262626;
}
.text-format-options .fa-icons:active{
    color: #262626;
}

.text-format-options .mi-icons{
    position: relative;
    top: 2px;
    color: #a3a3a3;
    cursor: pointer;
}
.text-format-options .mi-icons:hover{
    color: #595959;
}
.text-format-options .mi-icons:active{
    color: #595959;
}
.text-format-options .fa-bold{
    position: relative;
    left: 20px;
}

.text-format-options .fa-bold{
    position: relative;
    left: 20px;
}
.text-format-options .material-icons{
    position: relative;
    left: -20px;
}
.text-format-input{
    padding-top: 10px;
    padding-left: 25px;
    padding-right: 25px;
    padding-bottom: 10px;
    height: auto;
    width: 100%;
    font-weight: normal;
}
.text-format-input textarea{
    width: 100%;
    height: 100%;
    padding: 10px;
    border: none;
    font-size: 16px;
}